
.ProjectsContainer {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% auto;
    width: 90%;
   
  }
  .ProjectCard {
    margin: 0 auto;
    
  }

.projectImg {
   width: 150px;
}
  