
.ProjectsContainer {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2% auto;
    width: 90%;
   
  }
  .ProjectBlocks {
    margin: 0 auto 0 auto;
    margin-left: 1%;
    border-radius: 20px;
  
  }
  .ProjectBlocks:hover {
   opacity: 70%;
  }
  
  .ProjectBlocks > a {
    text-decoration: none;
    color: black;
  }
  .ProjectBlocks > a:hover {
    color: grey;
  }
  
  .ProjectBlocks > a img {
    text-decoration: none;
    width: 100px;
    border-radius: 20px;
   
  }
  