@font-face {
  font-family: "BPG Glaho";
  src: url("../../fonts/bpg_glaho.ttf");
}

.ProfilePhotoTim {
  width: 200px;
  border-radius: 2%;
  margin-top: 3%;
}
.informationCard {
  width: 40%;
  margin: 0 6%;
  font-family: "BPG Glaho";
}

.educationTitle {
  text-align: center;
  text-decoration: underline;
  font-family: "BPG Glaho";
}
.eduTemplate {
  margin: 0 auto;
  width: 80%;
}
.eduCard {
  margin-bottom: 20px;
  padding-bottom: 3%;
  font-family: "BPG Glaho";
}
.eduLogo {
    width: 50px;
}
.certLink {
  text-decoration: none;
  color: black;
  
}
.certLink:hover {
  color: grey;
}
.years {
  font-weight: 600;
  margin: 10px 0 10px 0;
}