.Container {
    display: flex;
    text-align: center;
    margin: 2% auto 0 auto;
    width: 80%;
}
.Block {
    margin: 0 auto 0 auto;
    width: 20%;
    margin-left: 1%;
    border-radius: 20px;
}

.Block:hover {
    border: 1px solid black;
}
.Block img {
    width: 100%;
    border-radius: 20px;
}

.Title:hover {
    color: grey;
    cursor:grab
}