@font-face {
  font-family: "bpg_nino";
  src: url("../fonts/bpg_nino_mtavruli_bold.ttf");
}
.pageTitle {
  font-family: bpg_nino;
  color: #004687;
  text-shadow: 2px 2px 4px rgb(185, 183, 183);
}
.pageTitle:hover {
  opacity: 70%;
  cursor: pointer;
}

